.advantage {
  --background-color: var(--color-white);
  --color: inherit;
  --width: 400px;
  --padding: 72px;
  --flex-direction: column;
  --justify-content: center;

  background-color: var(--background-color);
  color: var(--color);
  box-sizing: border-box;
  width: var(--width);
  min-height: 384px;
  padding: var(--padding);
  display: flex;
  flex-direction: var(--flex-direction);
  justify-content: var(--justify-content);
  align-items: center; 
  text-align: center;
  flex-wrap: wrap;
}


.advantage__heading {
  white-space: pre-line;
  margin: 0;
  margin-bottom: 29px;
}

.advantage__number {
  display: inline-block;
  margin: 0;
  margin-bottom: 29px;
}

.advantage__description {
  margin: 0;
  margin-bottom: 9px;
  white-space: pre-line;
}

.advantage__list {
  display: flex;
}

.advantage_interior {
  --justify-content: flex-end;
}

.advantage__heading_interior {
  margin-bottom: 19px;
}

.advantage_house::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin-bottom: 23px;
  background: url("/images/house.svg") no-repeat center top;
}

.advantage_food::before {
  content: "";
  display: block;
  width: 74px;
  height: 70px;
  margin-bottom: 23px;
  background: url("/images/food.svg") no-repeat center top;
}

.advantage_gift::before {
  content: "";
  display: block;
  width: 64px;
  height: 76px;
  margin-bottom: 23px;
  background: url("/images/gift.svg") no-repeat center top;
}


.advantage__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 400px;
  min-height: inherit;
  box-sizing: border-box;
  padding: 70px;
}

.advantage_with-image {
  --flex-direction: row;
  --width: auto;
  --padding: 0;
}

.advantage_row-reverse {
  flex-direction: row-reverse;
}

.advantage-color_half-backed {  
  --background-color: var(--color-half-backed);
  --color: var(--color-white);
}

.advantage-color_half-backed-12 {
  --background-color: var(--color-half-backed-12);
}

.advantage-color_half-backed-20 {
  --background-color: var(--color-half-backed-20);
}

