.advantage {
  --background-color: var(--color-white);
  --color: inherit;
  --width: 400px;
  --flex-direction: column;

  background-color: var(--background-color);
  color: var(--color);
  box-sizing: border-box;
  width: var(--width);
  height: 384px;
  display: flex;
  flex-direction: var(--flex-direction);
  align-items: center; 
  text-align: center;
  flex-wrap: wrap;
}

.advantage__heading {
  white-space: pre-line;
  margin: 0;
  margin-bottom: 27px;
  order: 1;
  text-align: center;
}

@supports (display: -webkit-box) and 
          (-webkit-line-clamp: 3) and
          (-webkit-box-orient: vertical) {  
  .advantage__heading {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 100%; 
    overflow: hidden;
  }
}

.advantage__description {
  white-space: pre-line;
  margin: 0;
  margin-bottom: 10px;
  order: 3;
  text-align: center; 
} 

@supports (display: -webkit-box) and
          (-webkit-line-clamp: 3) and
          (-webkit-box-orient: vertical) {  
  .advantage__description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 100%; 
    overflow: hidden;
  }
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
}

.advantage__heading_interior {
  margin-bottom: 19px;
}

.advantage_house {
  position: relative;
}

.advantage_house::before {
  position: absolute;
  top: 88px;
  left: 163px;
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background: url("/images/house.svg") no-repeat center top;
}

.advantage_food {
  position: relative;
}

.advantage_food::before {
  position: absolute;
  top: 90px;
  left: 163px;
  content: "";
  display: block;
  width: 74px;
  height: 70px;
  background: url("/images/food.svg") no-repeat center top;
}

.advantage_gift {
  position: relative;
}

.advantage_gift::before {
  position: absolute;
  top: 85px;
  left: 167px;
  content: "";
  display: block;
  width: 64px;
  height: 76px;
  background: url("/images/gift.svg") no-repeat center top;
}

.advantage_counter::before {
  counter-increment: list;
  content: "— №" counter(list) " — ";
  margin-bottom: 28px;
  order: 2;
}

.advantage__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 400px;
  height: 384px;
  box-sizing: border-box;
  padding: 70px;
}

.advantage__text_center {
  justify-content: center;
}

.advantage_with-image {
  --flex-direction: row;
  --width: auto;
  --padding: 0;
}

.advantage_row-reverse {
  flex-direction: row-reverse;
}

.advantage-color_half-backed {  
  --background-color: var(--color-half-backed);
  --color: var(--color-white);
}

.advantage-color_half-backed-12 {
  --background-color: var(--color-half-backed-12);
}

.advantage-color_half-backed-20 {
  --background-color: var(--color-half-backed-20);
}





