.blurred-background {
  --background-image: url("/images/blurred-desert.jpg");
  
  color: var(--color-white);
  background-color: var(--color-half-backed);
  background-image: var(--background-image);
  background-repeat: no-repeat;
}

.blurred-background_variant_2 {
  --background-image: url("/images/blurred-rock.jpg");
}