.button {
  --font-size: 16px;
  --font-weight: 700;
  --min-width: var(--height);
  --height: 37px;
  --color: var(--color-white);
  --background-color: var(--color-pine-cone);
  --border: none;
  --border-radius: 4px;
  --border-color: transparent;
  --text-transform: uppercase;

  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: 1;
  text-transform: var(--text-transform);
  min-width: var(--min-width);
  max-width: 100%;
  height: var(--height);
  color: var(--color);
  flex-shrink: 0;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  border-color: var(--border-color);
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  
}

button:not(:disabled).button {
  cursor: pointer;
}

.button__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button:hover {
  --background-color: var(--color-kabul);
}

.button:focus {  
  --box-shadow: 0 0 0 3px var(--color-half-backed);
  --outline: none;

  outline: var(--outline);
  box-shadow: var(--box-shadow);
}

.button:active {
  --color: var(--color-white-30);
  --outline: none;
}

button.button {
  font-family: inherit;
}

a.button {
  text-decoration: none;
}

.button_variant_text {
  --background-color: transparent;
  --font-weight: 400;
  --text-transform: capitalize;
  --font-size: 18px;
  --height: 25px;
}

.button_variant_text:hover {
  --background-color: transparent;
  --color: var(--color-white-60);
}

.button_variant_text:active {
  --background-color: transparent;
  --color: var(--color-white-30);
}

.button_variant_outlined {
  --border-color: var(--background-color);
  --color: var(--color-black);
  --width: var(--height);
  
  background-color: transparent;
  border: 2px solid var(--border-color);
  width: var(--width);
}

.button_variant_outlined:hover,
.button_variant_outlined:focus {
  --border-color: var(--color-half-backed);
  --outline: none;
  --box-shadow: none;
}

.button_variant_outlined.button_active {
  --border-color: var(--color);
}

.button_size_l {
  --height: 48px;
  --font-size: 16px;
}

.button_size_xl {
  --height: 60px;
  --font-size: 20px;
  --border-radius: 10px;
}

.button_color_green {
  --background-color: var(--color-chelsea-cucumber);
}

.button_color_green:hover {
  --background-color: var(--color-apple);
}

.button_color_green:focus {
  --box-shadow: 0 0 0 3px var(--color-pine-cone);
  --outline: none;
}

.button_color_green:active {
  --outline: none;
}

.button_color_silver {
  --background-color: var(--color-concrete);
  --color: var(--color-black);
}

.button_color_silver:hover {
  --background-color: var(--color-concrete);
  --color: var(--color-black);
}

.button_color_silver:focus {
  --outline: none;
  --box-shadow: none;
}

.button_color_blue {
  --background-color: var(--color-half-backed);
}

.button_color_blue:hover {
  --background-color: var(--color-danube);
}

.button_color_blue:focus {
  --box-shadow: 0 0 0 3px var(--color-pine-cone);
  --outline: none;
}

.button_color_blue:active {
  --outline: none;
}

.button_apply:focus {
  --box-shadow: 0 0 0 3px var(--color-white);
  --outline: none;
}

.button_apply:active {
  --outline: none;
}

