:root {
  --color-white: #FFFFFF;
  --color-white-30: #FFFFFF4D;
  --color-white-60: #FFFFFF99;
  --color-concrete: #F2F2F2;
  --color-concrete-80: #F2F2F2CC;
  --color-mercury: #E5E5E5;
  --color-black: #000000;
  --color-black-15: #00000026;
  --color-black-20: #00000033;
  --color-black-30: #0000004D;
  --color-black-60: #00000099;
  --color-mine-shaft: #333333;
  --color-mine-shaft-30: #3333334D;
  --color-pine-cone: #756257;
  --color-pine-cone-30: #7562574D;
  --color-kabul: #615048;
  --color-half-backed: #83B3D3;
  --color-half-backed-12: #83B3D31F;
  --color-half-backed-20: #83B3D333;
  --color-danube: #68A2CA;
  --color-chelsea-cucumber: #7DB54F;
  --color-apple: #6C9E42;
  --color-neon-carrot: #FD922E;
  --color-persimmon: #FF5757;
}