.filter {
  height: 408px;
  box-sizing: border-box;
  padding-right: 72px;
  padding-left: 72px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.filter__heading {
  margin-top: 35px;
}

