.filter-form {
  display: flex;
  justify-content: space-between;
}

.filter-form__fieldset {
  border: 0 none;
  padding: 0;
  margin: 0;
}

.filter-form__fieldset_infrastructure {
  margin: 0;
  margin-right: 3px;
}

.filter-form__fieldset_type-of-housing {
  margin-right: 40px;
}

.filter-form__fieldset_value {
  margin-right: 25px;
  margin-left: 70px;
}

.filter-form__legend {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 700;
}

.filter-form__list {
  display: flex;
  flex-direction: column;
}

.filter-form__item {
  margin-bottom: 11px;
}

.filter-form__item:last-child {
  margin-bottom: 0;
}

.filter-form__buttons {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

