.filter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-form__fieldset {
  border: 0 none;
  padding: 0;
  margin: 0;
}

.filter-form__fieldset_infrastructure {
  margin: 0;
  margin-right: 3px;
}

.filter-form__fieldset_type-of-housing {
  margin-right: 102px;
}

.filter-form__fieldset_prices {
  margin-right: 17px;
}

.filter-form__legend {
  margin-bottom: 31px;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
}

.filter-form__legend_prices {
  margin-bottom: 35px;
}

.filter-form__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 12px;
}

.filter-form__range-input {
  position: relative;
  margin-bottom: 20px;
}

.filter-form__buttons {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
