.heading {
  --color: inherit;
  --font-size: 30px;
  --line-height: 36px;
  --text-transform: uppercase;
  
  font-size: var(--font-size);
  font-weight: 700;
  line-height: var(--line-height);
  text-transform: var(--text-transform);
  color: var(--color);
}

.heading_size_s {
  --font-size: 24px;
  --line-height: 28px;
}

.heading_size_l {
  --font-size: 60px;
  --line-height: 78px;
  --text-transform: capitalize;
}

.heading_color_black {
  --color: var(--color-black);
}


