.hotels__list {
  box-sizing: border-box;
  padding-right: 72px;
  padding-left: 72px;
  margin-bottom: 54px;
  display: flex;
  flex-wrap: wrap;
}

.hotels__load-more-button {
  text-align: center;
  box-sizing: border-box;
  padding-right: 72px;
  padding-left: 72px;
  margin-top: 30px;
  margin-bottom: 30px;
}

