.hotel-search {
  height: 417px;
  text-align: center;
  box-sizing: border-box;
  padding-right: 72px;
  padding-left: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hotel-search__heading {
  margin-bottom: 29px;
}
.hotel-search__paragraph {
  margin: 0;
  margin-bottom: 56px;
}