.hotel-search-form {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    font-weight: 700;
}

.hotel-search-form__fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}

.hotel-search-form__dates {
    display: grid;
    grid-template-columns: 155px 420px;
    grid-template-rows: auto auto;
    row-gap: 11px;
}

.hotel-search-form__guests {
    display: grid;
    grid-template-columns: 155px 133px auto 98px 133px;
}

.hotel-search-form__label {
    display: flex;
    align-items: center;
    margin-right: auto;
    height: 50px;
}

.hotel-search-form__grid {
    width: 80px;
    grid-column: -2 / 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}