.newsletter {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter_catalog {
  padding-top: 70px;
}

.newsletter__heading {
  margin-bottom: 29px;
}

.newsletter__heading_catalog {
  margin-bottom: 45px;
}

.newsletter__paragraph {
  margin: 0;
  margin-bottom: 45px;
  white-space: pre-line;
}

.newsletter__form {
  display: flex;
  color: var(--color-black);
}





