.page-modal {
    width: 715px;
    background-color: var(--color-white);
    border-radius: 30px;
    box-shadow: 0px 25px 50px var(--color-black-15);
    padding: 62px 70px 70px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    color: var(--color-half-backed);
    color: var(--color-black);
    z-index: 3;
    display: none;
}

.page-modal_visible {
    display: block;
}

.page-modal__heading {
    margin: 0;
    margin-bottom: 62px;
}

.page-modal__close-button {
    --top: 54px;
    --right: 70px;

    position: absolute;
    top: var(--top);
    right: var(--right);
}

