.page-footer {
  min-height: 121px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.page-footer__social-networks {
  position: relative;
  margin-right: 220px;
  margin-bottom: 4px;
}

.page-footer__logo {
  position: relative;
  left: 22px;
  margin-left: auto;
}


