.page-header {
  min-width: 65px;
  padding-top: 14px;
  padding-right: 70px;
  padding-bottom: 14px;
  padding-left: calc(70px + 171px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 70px;
  z-index: 2;
}

.page-header__user-navigation {
  margin-left: auto;
}
