.pagination {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination__list {
  display: flex;
  margin-right: auto;
}

.pagination__item {
  margin-right: 8px;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__select-input {
  margin-left: 51px;
}