.phone-number {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: var(--color-black);
  padding: 15px;
} 

.phone-number:hover {
  color: var(--color-pine-cone);
}

.phone-number:focus-visible {
  outline: 3px solid var(--color-half-backed);
  border-radius: 7px;
}

.phone-number:active {
  opacity: 0.30;
  outline: none;
}