/* Rating */

.rating-input__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

/* Group */

.rating-input__wrapper {
  position: relative;
  width: 100px;
  height: 19px;
  margin: 0;
  margin-top: 9px;
  margin-right: 7px;
  margin-bottom: 9px;
  background-image: url("../images/star.svg");
  background-size: 20px auto;
  background-repeat: repeat-x;
}

/* Input */

.rating-input__control:focus-visible ~ .rating-input__focus {
  position: absolute;
  top: -7px;
  right: -2px;
  bottom: -7px;
  left: -2px;
  z-index: 1;
  outline: solid 2px var(--color-half-backed);
  border-radius: 2px;
}

.rating-input__control:active ~ .rating-input__focus {
  outline: none;
}

.rating-input__control:not(:disabled) + .rating-input__button {
  cursor: pointer;
}

/* Star */

.rating-input__button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  height: 19px;
  background-size: 20px auto;
  background-repeat: repeat-x;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.rating-input__button:focus-visible {
  outline: none;
}

.rating-input__control:checked + .rating-input__button,
.rating-input__button:hover {
  background-image: url("../images/star-colored.svg");
}

.rating-input__button:hover ~ .rating-input__button {
  background-image: url("../images/star.svg");
}

/* Options */

.rating-input__button:nth-of-type(1) {
  z-index: 5;
  width: 20px;
}

.rating-input__button:nth-of-type(2) {
  z-index: 4;
  width: 40px;
}

.rating-input__button:nth-of-type(3) {
  z-index: 3;
  width: 60px;
}

.rating-input__button:nth-of-type(4) {
  z-index: 2;
  width: 80px;
}

.rating-input__button:nth-of-type(5) {
  z-index: 1;
  width: 100px;
}



