.select-input {
  font-family: inherit;
  font-size: inherit; 
  color: inherit;
  height: 48px;
  text-align: left;
  border: 2px solid var(--color-mercury);
  border-radius: 4px;
  padding-right: 14px;
  padding-bottom: 5px;
  padding-left: 16px;
  appearance: none;
  background: var(--color-white) url("/images/vector-down.svg") no-repeat right 19px center;
}

.select-input:hover,
.select-input:focus-visible {
  border-color: var(--color-half-backed);
  outline: var(--color-half-backed);
}

.select-input:active {
  color: var(--color-mine-shaft-30);
  border-color: var(--color-mercury);
}