.site-navigation__list {
  display: flex;
  margin-left: 46px;
  width: 308px;
  justify-content: space-between;
}

.site-navigation__link {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: var(--color-black); 
}

.site-navigation__link:nth-child(3) {
  margin-right: 0;
}


.site-navigation__link:hover {
  color: var(--color-pine-cone);
}

.site-navigation__link:active {
  color: var(--color-pine-cone-03);
}

.site-navigation__link_active {
  border-bottom: 2px solid var(--color-pine-cone);
}