.sorting-view-mode {
  padding-right: 72px;
  padding-left: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.view-mode {
  margin-left: 81px;
}

.sorting-view-mode__heading {
  margin-right: auto;
}
