.sorting-view-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting-view-mode__view-mode {
  margin-left: 81px;
}

.view-mode__list {
  display: flex;
  column-gap: 8px;
}

.sorting-view-mode__heading {
  margin-right: auto;
}
