.user-navigation {
    margin-left: auto;
    width: 250px;
}

.user-navigation__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-navigation__item {
    margin-top: 5px;
}

.user-navigation__item:last-child {
    margin: 0;
    margin-left: 9px;
}

