.user-navigation {
    color: var(--color-black);
}

.user-navigation__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 6px;
}

.user-navigation__item:last-child {
    margin-left: 19px;
}

.user-navigation__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 37px;
}

.user-navigation__link:hover {
    color: var(--color-pine-cone);
}

.user-navigation__link:active {
    opacity: 0.30;
}

.user-navigation__link_favorite {
    position: relative; 
}

.user-navigation__link_favorite::after {
    position: absolute;
    content: "12";
    font-size: 10px;
    color: var(--color-white);
    width: 20px;
    height: 20px;
    bottom: 16px;
    left: 21px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/images/number-of-likes.svg") no-repeat;
}

.user-navigation__img {
    display: block;
}